nav{
border-radius: 33px;
background-color: rgb(230, 230, 228);
width: 1500px;
height:100px;

}
a{
    padding: 29px;
    position: relative;
    right: 12px;
    left:150px;
    top: 40px;
    bottom:12px;


}
body{
    background-image:url("https://static.vecteezy.com/system/resources/previews/030/603/787/non_2x/old-woman-south-america-picking-coffee-from-a-coffee-plantation-at-fram-generative-ai-free-photo.jpeg");
background-size: cover;

}
select{
    background-color: rgb(250, 248, 248);
    width:122px;
    border-radius: 15px;
    position: absolute;
    bottom:320px;
    left:29px;
}
